

.gradient{
    background: #721121;
    background: -webkit-linear-gradient(90deg,rgb(67, 8, 18)0%,rgba(171, 38, 27, 1) 33%, rgba(232, 78, 31, 1) 67%, rgba(244, 117, 49, 1) 85%);
    background: -moz-linear-gradient(90deg,rgb(67, 8, 18)0%,rgba(171, 38, 27, 1) 33%, rgba(232, 78, 31, 1) 67%, rgba(244, 117, 49, 1) 85%);
    background: linear-gradient(0deg,rgb(67, 8, 18)0%,rgba(171, 38, 27, 1) 33%, rgb(251, 103, 57) 67%, rgb(255, 169, 9) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#721121",
    endColorstr="#f99238",
    GradientType=0
);

}


.sidebar{
    background-color:#300707ee;
    height: 100%;
    width: 50px;
    display: grid;
    grid-template-rows: 50px 1fr ;
    align-items: center;
}


.sidebar-content{
    display: grid;
    grid-template-rows:auto;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 60%;
    text-align: center;
   
}


