
.gradient{
    background: #721121;
    background: -webkit-linear-gradient(120deg,rgb(125, 12, 12) 25%, rgb(172, 114, 6));
    background: -moz-linear-gradient(120deg,rgb(125, 12, 12) 25%, rgb(172, 114, 6));
    background: linear-gradient(120deg,rgb(125, 12, 12) 25%, rgb(172, 114, 6));
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#721121",
    endColorstr="#f99238",
    GradientType=0
);

}


.sidebar{
    background-color:#0b0202ee;
    height: 100%;
    width: 50px;
    display: grid;
    grid-template-rows: 50px 1fr ;
    align-items: center;

}

/* Remove default link styling in sidebar */
.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar a:hover {
    text-decoration: none;
}

.sidebar a:visited {
    color: inherit;
}

.sidebar a:active {
    color: inherit;
}

/* Also prevent the blue outline/focus ring */
.sidebar a:focus {
    outline: none;
}


.sidebar-content{
    display: grid;
    grid-template-rows:auto;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 60%;
    text-align: center;
   
}

.sidebar-item{
    font-family: 'Stack Sans Notch', sans-serif;
    font-weight: 600;
    font-size: x-small;
    color: orange ;
}


.header-styling{
    font-family: 'Stack Sans Notch', sans-serif;
    font-weight: 600;
}

.subheader-styling{
    font-family: 'Stack Sans Notch', sans-serif;
    font-weight: 350;
}
